@using Domain
@model List<Student>

<table class="table">
	<thead>
		<tr>
			<th>Enrollment Year</th>
			<th>Enrollment Number</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Study program</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Student item in Model)
	   {
		   <tr>
			<td>@item.EnrollmentYear</td>
			<td>@item.EnrollmentNumber</td>
			<td>@item.FirstName</td>
			<td>@item.LastName</td>
			<td>@item.StudyProgram.Name</td>
			<td><a href="Student/Edit/@item.PersonId">Edit</a></td>
			</tr>
	   }
		

	</tbody>

</table>